footer {
  height: 30svh;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;

  .footer_pic {
    height: 10vh;
    width: 10vh;
    margin: 10px;
    .svg {
      fill: var(--txt1);
    }
  }

  h2 {
    margin: 10px 20px;
    font-size: 2rem;
  }

  .contact_container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 20px;
    h2 {
      text-align: center;
      font-size: 2rem;
      margin: 10px;
    }

    .contact {
      display: flex;
      flex-direction: column;
      .contact_obj {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
        i {
          position: relative;
          top: 3px;
          font-size: 1rem;
          font-weight: 500;
          color: var(--txt1);
          margin: 0 5px;
        }
        h5 {
          font-size: 1rem;
          font-weight: 500;
          color: var(--txt1);
        }
        a {
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }

    .links {
      display: flex;

      .contact_item {
        width: 100%;
        margin: 10px;
        i {
          width: 100%;
          color: var(--txt1);
          font-size: 4rem;
          text-align: center;
        }
        h3 {
          text-align: center;
          font-size: 1.25rem;
          font-weight: 500;
        }
      }
    }
  }

  .redirect {
    display: flex;
    flex-direction: column;
    h2 {
      text-align: center;
      font-size: 2rem;
      margin: 10px;
    }

    .footer_li {
      list-style-type: none;
      padding: 10px;
      width: 100%;
      text-align: center;
      .footer_a {
        font-size: 1.25rem;
        font-weight: 400;
        transition: all 0.3s ease;
        color: var(--txt1);
      }
    }
  }
}

footer .redirect .footer_li .footer_a:hover {
  color: var(--txt2);
}

@media (max-width: 1100px) {
  footer {
    h2 {
      font-size: 1.5rem;
    }
    .footer_pic {
      width: 5vh;
      height: 5vh;
    }
    .contact_container {
      width: fit-content;
      h2 {
        font-size: 1.5rem;
      }
      .links {
        width: 100%;
        .contact_item {
          i {
            width: 100%;
            font-size: 2rem;
          }
        }
      }
    }
    .redirect {
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 630px) {
  footer {
    h2 {
      width: 40%;
      text-align: start;
    }
    .footer_pic {
      display: none;
    }
    .contact_container {
      width: 40%;
      h2 {
        width: 100%;
        text-align: end;
      }
      .contact {
        .contact_obj {
          justify-content: end;
        }
        .contact_obj:nth-child(2) {
          margin-bottom: 10px;
        }
      }
    }
    .redirect {
      display: none;
    }
  }
}
