.landingPage {
  height: 90svh;
  background-color: var(--bg1);
  display: flex;
}
.landingPage .left {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.landingPage .left .container {
  height: 100%;
  width: 100%;
}
.landingPage .left .container .container-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15rem;
}
.landingPage .left .container .container-title .left-name {
  font-size: 1.75em;
  margin-bottom: 10px;
  letter-spacing: 5px;
  border-right: 5px solid black;
  width: 340px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(20), cursor 0.4s step-end infinite alternate;
}
.landingPage .left .container .container-title .left-role {
  font-family: "Sora", sans-serif;
  color: var(--txt1);
  font-size: 3rem;
  margin: 0 5rem 10px 0;
}
.landingPage .left .container .container-title .left-description {
  margin-right: 5rem;
  text-align: justify;
  font-size: 1.25rem;
  font-weight: 300;
  transition-delay: 0.2s;
}
.landingPage .left .container .container-title .left-description mark {
  animation: highlight 1.5s ease;
}
.landingPage .left .container .container-title .dados_pessoais_link {
  color: var(--color1);
}
.landingPage .right {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.landingPage .right img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: 100%;
  animation: apareso 1s ease;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes apareso {
  from {
    top: 70%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
  }
}
@keyframes highlight {
  0% {
    background-color: transparent;
  }
  33% {
    background-color: transparent;
  }
}
@media (max-width: 1200px) {
  .landingPage {
    overflow-x: hidden;
  }
  .landingPage .left {
    width: 100% !important;
    background-image: url("../img/landing-page-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
  .landingPage .left .container {
    overflow-y: hidden;
    position: relative;
    height: 50%;
    width: 100%;
    top: 50%;
    background-color: var(--bg1);
  }
  .landingPage .left .container .container-title {
    position: relative;
    top: 30%;
    margin-left: 2.5rem !important;
  }
  .landingPage .left .container .container-title .left-name {
    width: 250px !important;
    display: block;
    border: none !important;
    font-size: 1rem !important;
    animation: none !important;
  }
  .landingPage .left .container .container-title .left-role {
    font-size: 1.5rem !important;
    margin-right: 2.5rem !important;
  }
  .landingPage .left .container .container-title .left-description {
    margin-right: 2.5rem !important;
  }
  .landingPage .right {
    display: none;
  }
}
@media (max-width: 623px) {
  .landingPage .left .container {
    height: 50%;
    overflow-y: hidden;
  }
  .landingPage .left .container .container-title {
    top: 50%;
  }
}/*# sourceMappingURL=landingPage.css.map */